.container {
    width: 100%;
    min-height: 100vh; /* Aula 14 */
    background-color: #191919; /* Aula 14 */
    color: #ffffff;
    padding-bottom: 1.5rem;
    text-align: center;
    padding-inline: 2rem; /* Aula 11 */
    overflow: hidden;
}